<footer class="text-center">
    <hr id="line1" width=12% >
    <hr id="line2" width=24% >
    <hr id="line3" width=36% >
    <hr id="line4" width=48% >
    <hr id="line5" width=60% >
    <hr id="line6" width=72% >
    <hr id="line7" width=84% >
    <hr id="line8" width=96% >	
    <hr id="line9" width=96% >
    <hr id="line10" width=84% >
    <hr id="line11" width=72% >
    <hr id="line12" width=60% >
    <hr id="line13" width=48% >
    <hr id="line14" width=36% >
    <hr id="line15" width=24% >
    <hr id="line16" width=12% >
    <p class="text-left">&copy; 2018 ISE Optimizations</p>
    <button class="btn-success" (click)="subscribe()">Subscribe to our newsletter!</button>
</footer>
