<footer class="text-center">
    <hr id="line1" width=3% >
    <hr id="line2" width=6% >
    <hr id="line3" width=9% >
	<hr id="line4" width=12% >
    <hr id="line5" width=15% >
    <hr id="line6" width=18% >
	<hr id="line7" width=21% >
	<hr id="line8" width=24% >
    <hr id="line9" width=27% >
    <hr id="line10" width=30% >
	<hr id="line11" width=33% >
	<hr id="line12" width=36% >
    <hr id="line13" width=39% >
    <hr id="line14" width=42% >
	<hr id="line15" width=45% >
	<hr id="line16" width=48% >
    <hr id="line17" width=51% >
    <hr id="line18" width=54% >
	<hr id="line19" width=57% >
	<hr id="line20" width=60% >
    <hr id="line21" width=63% >
    <hr id="line22" width=66% >
	<hr id="line23" width=69% >
	<hr id="line24" width=72% >
    <hr id="line25" width=75% >
    <hr id="line26" width=78% >
	<hr id="line27" width=81% >
	<hr id="line28" width=84% >
    <hr id="line29" width=87% >
    <hr id="line30" width=90% >
	<hr id="line31" width=93% >
	<hr id="line32" width=96% >
    <hr id="line33" width=99% >
	<hr id="line34" width=96% >
    <hr id="line35" width=93% >
    <hr id="line36" width=90% >
	<hr id="line37" width=87% >
	<hr id="line38" width=84% >
    <hr id="line39" width=81% >
    <hr id="line40" width=78% >
	<hr id="line41" width=75% >
	<hr id="line42" width=72% >
    <hr id="line43" width=69% >
    <hr id="line44" width=66% >
	<hr id="line45" width=63% >
	<hr id="line46" width=60% >
    <hr id="line47" width=57% >
    <hr id="line48" width=54% >
	<hr id="line49" width=51% >
	<hr id="line50" width=48% >
    <hr id="line51" width=45% >
    <hr id="line52" width=42% >
	<hr id="line53" width=39% >
	<hr id="line54" width=36% >
    <hr id="line55" width=33% >
    <hr id="line56" width=30% >
	<hr id="line57" width=27% >
	<hr id="line58" width=24% >
    <hr id="line59" width=21% >
    <hr id="line60" width=18% >
	<hr id="line61" width=15% >
	<hr id="line62" width=12% >
    <hr id="line63" width=9% >
    <hr id="line64" width=6% >
	<hr id="line65" width=3% >
    <p class="text-left">&copy; 2018 ISE Optimizations</p>
    <button class="btn-success" (click)="subscribe()">Subscribe to our newsletter!</button><br/>
    <hr/>
</footer>
