/*********************************Control Panel CSS****************************************/
#cp{
    font-family: "OpenSans";
    z-index:2;
    background: #3f4c92;
    color:#ffffff;
    cursor: pointer;
    text-align:center;
}
    
#cp li{
    display:block;
}

ul div{
    margin:5px auto 0 auto;
    border-bottom: 1px solid #9eabf8;  
}
hr{
    background-color:#9eabf8; height: 2px;
}



//Large screens
@media only screen and (min-width:600px) {

    /*********************************Control Panel CSS****************************************/
    #cp{
        position:absolute;
        right: 0;
        top: 0;
        width:190px
    }
    
    li{
        margin: 15px auto 0 auto;
    }
    
    
    .cpBottom{
        font-size:1em;
    }
    
}

//medium
@media only screen and (min-width:600px){
    #cp{
        
    }

}

//small screens
@media only screen and (min-width:350px) and (max-width: 600px) {

}

//tiny screens
@media only screen and (max-width: 600px) {
    #cp{
        width:100%;
    }
}

