<div id="cp" *ngIf="this.visibility" class="text-center">
    <ul>
      <li (click)="ShowServiceLine('Consulting Services')"><div>Consulting</div></li>
      <li (click)="ShowServiceLine('Digital Services')"><div>Digital</div></li>
      <li (click)="ShowServiceLine('Technology Services')"><div>Technology</div></li>
      <li (click)="ShowServiceLine('Operations Support')"><div>Operations</div></li>
    <!--
      <li><div>Industries</div></li>
      <li><div>Careers</div></li>
    -->
    </ul>
    <hr style="background-color:white; height:3px;">
    <ul>
      <!--<li><div>About ISE Optimizations</div></li> -->
      <li (click)="PlayGame()"><div>AI games</div></li>
      <!--
      <li><div>Corporate Citizenship</div></li>
      <li><div>Inclusion and Diversity</div></li>
      <li><div>Inverstor Relations</div></li>
      <li><div>NewsRoom</div></li>
      -->
      <li (click)="ShowAdminPanel()"><div>Admin</div></li>
  </ul>
</div>