<div id="cp" *ngIf="this.visibility" class="text-center">
      <ul>
          <li (click)="ShowServiceLine('Consulting Services')">Consulting</li>
          <hr>
          <li (click)="ShowServiceLine('Digital Services')">Digital</li>
          <hr>
          <li (click)="ShowServiceLine('Technology Services')">Technology</li>
          <hr>
          <li (click)="ShowServiceLine('Operations Support')">Operations</li>
          <hr>
          <li>Industries</li>
          <hr>
          <li>Careers</li>
      </ul>
  <hr style="background-color:white; height:5px;">
      <ul>
          <li>About ISE Optimizations</li>
          <hr>
          <li>Corporate Citizenship</li>
          <hr>
          <li>Inclusion and Diversity</li>
          <hr>
          <li>Inverstor Relations</li>
          <hr>
          <li>NewsRoom</li>
          <hr>
      </ul>
</div>