<div id="banner">
  <nav id="topNav">
      <div id="navTopLogoLeft">
            <!--
                <img src="../../assets/IO.svg" onerror="this.onerror=null; this.src='../../assets/IO.png'">
            -->
      </div>
      <div ng-show="cp" id="navTopSearch">
          <input id="navTopSearch" placeholder="Search"/>
      </div>
      <div id="navTopRight">
        <div id="btnMainMenu" class="menu-btn" (click)="UpdateVisibility()">
                <!-- 
                    <img src="../../assets/hamburger.svg" onerror="this.onerror=null; this.src='../../assets/hamburger.png'">
                -->
        </div>
      </div>
  </nav>
  
</div>
